@font-face {
    font-family: myFontFace;
    /* src: url('C:\\Users\\asus\\Documents\\Angular Project\\portfolio-UI\\sansUi.ttf'); */
}
.firstdiv {
    margin-top: 1%;
    width: 30%;
    height: 94vh;
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0.1);
    padding-left: 5%;
    padding-right: 5%;
}

.lab {
    text-align: left;
    font-family: myFontFace, sans-serif;
}

.item label {
    display: inline-block;
}

.inp {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 80%;
    font-family: myFontFace, sans-serif;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    border-bottom: solid;
    color: grey;
    margin-top: 4px;
    margin-bottom: 4px;
}

::placeholder {
    color:  grey;
}

h2 {
    font-family: myFontFace, sans-serif;
    font-size: xx-large;
    margin: 0px;
}

#submit {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 40%;
    padding-left: 40%;
    background-color: rgb(5 145 255);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.newUser {
    font-family: myFontFace, sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
}
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .content {
    flex-grow: 1;
  }
  
  .sidebar {
    width: 40%;
    background-color: lightgreen;
    height: 70vh;
    @media screen and (max-width: 509px) {
        width: 90%; 
    }

    @media screen and (min-width: 40em) {
        width: 90%; 
    }
  }
  

.invalid-password {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 80%;
    font-family: myFontFace, sans-serif;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    border-bottom: solid;
    border-bottom: solid red;
  }
  
.step {
    color: grey;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: myFontFace, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #48bfe6; 
  }

  a:hover {
    text-decoration: underline;
  }

  .labels {
    color: grey;
    font-size: 12px;
    font-style: bold;
    font-family: myFontFace, sans-serif;
  }